
.cabecalho{
    width: 1300px;
    height: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    display: inline-block;
}

.logo{
     
}

form{
    display: inline-block;
}

.card{
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: center;
    margin: 5px;
    padding-inline: 300px;
    align-items:center;
    max-width: 60%;
}

/* .card{
    width: 200%;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    margin-left: 450px;
    max-width: 500px;
    max-height: 100%;
    font-size: small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card1{
    align-items: center; 
} */

.nota{
    width: 1300px;
    height: auto;
    margin-left: 400px;
    padding: 2px;
    background-color: write;
    text-align: justify;
    justify-content: center;
    display: inline-block;
}

.faqs{
    width: 1300px;
    height: auto;
    margin-left: 400px;
    padding: 2px;
    background-color: write;
    
    text-align: justify;
    justify-content: center;
    display: inline-block;
}

.footer{
    width: 600px;
    height: auto;
    margin-left: 50px;
    padding: 10px;
    background-color: white;
    color: green;
    text-align:justify;
    justify-content:right;
    display: inline-flex;
}